<!DOCTYPE html><html lang="de"><head>
    <meta charset="utf-8" /><title>Ergebnis</title></head><body>
    <h1>Zwischenergebnis</h1>
    <ol>
      <% totals.forEach(t => { %>
        <li><%= t.country %> – <%= t.score %> Punkte</li>
      <% }) %>
    </ol>
    <p><a href="/">zurück zur Stimmabgabe</a></p>
    </body></html>
    